/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header */
  header {
    background-color: lightgray;
    padding: 20px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  header nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
  }
  
  /* Main Content */
  main {
    padding: 20px;
    text-align: center;
  }
  
  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .team-members li {
    width: 30%;
    text-align: center;
    padding: 20px;
  }
  
  .team-members img {
    width: 150px;
    height: 150px;
  }
  