

    <!-- Main Content -->
    <main>
        <button (click)="navigateToHome()">Go to home page</button>
      <h1>About Us</h1>
      <p>We're a company that's dedicated to providing quality education and training in a variety of fields. Our mission is to help people achieve their career and personal development goals through our comprehensive courses and programs.</p>

      <h2>Our Team</h2>
      <ul class="team-members">
        <li>
          <img src="https://img.freepik.com/free-photo/indoor-picture-cheerful-handsome-young-man-having-folded-hands-looking-directly-smiling-sincerely-wearing-casual-clothes_176532-10257.jpg?w=740&t=st=1675250082~exp=1675250682~hmac=8a71c187bbacf63439d00e168a68d583699b23d48c61786690fef15442791ca0" alt="John Doe">
          <h3>John Doe</h3>
          <p>Founder and CEO</p>
        </li>
        <li>
          <img src="https://img.freepik.com/free-photo/lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased-expression-standing-white-background-smiling-with-arms-crossed-chest_1258-59329.jpg?w=740&t=st=1675250108~exp=1675250708~hmac=618936840ba9c763c1e6578ea0f9b51cd7b2e4705ad3f52d658f2e660fd4fd47" alt="Jane Doe">
          <h3>Jane Doe</h3>
          <p>Chief Operations Officer</p>
        </li>
        <li>
          <img src="https://img.freepik.com/free-photo/stylish-handsome-indian-man-tshirt-pastel-wall_496169-1571.jpg?w=740&t=st=1675250128~exp=1675250728~hmac=7572100077d52fbd1ca8d9fef8296137ba34ad2b2c930c39e66d7fe3c72731fe" alt="Jim Smith">
          <h3>Jim Smith</h3>
          <p>Chief Marketing Officer</p>
        </li>
      </ul>
    </main>

   

