<div class="container">
        <header class="nav-bar">
          <nav>
            <ul>
              <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">Home</a></li>
              <li [routerLinkActive]="'active'"><a [routerLink]="['About']">About</a></li>
              <li [routerLinkActive]="'active'"><a [routerLink]="['Contact']">Contact</a></li>
              <li [routerLinkActive]="'active'"><a routerLink="Courses">Courses</a></li>
              
             <!-- <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><a routerLink="" fragment="Home">Home</a></li>
             <li [routerLinkActive]="'active'"><a routerLink="" fragment="About">About</a></li>
             <li [routerLinkActive]="'active'"><a routerLink="" fragment="Contact">Contact</a></li>
             <li [routerLinkActive]="'active'"><a routerLink="" fragment="Courses">Courses</a></li> -->

          
              <li [routerLinkActive]="'active'" (click)="login()" style="cursor: pointer;"><a>Login</a> </li>
              <li [routerLinkActive]="'active'" (click)="logout()" style="cursor: pointer;"><a>Logout</a> </li>
           
            </ul>
          </nav>
        </header>
        <main>
          <router-outlet></router-outlet>
          
          <div class="spinner" *ngIf="displyLoadingIndicator">

          </div>

          <!-- <app-home id="Home"></app-home>
          <app-about id="About"></app-about>
          <app-contact id="Contact"></app-contact>
          <app-courses id="Courses"></app-courses> -->
        </main>
</div>