<div class="sms">
    <app-search (searchTextChanged)="onSearchTextEntered($event)" ></app-search>
    <app-filter [all]="getTotalCourses()"
                [free]="getTotalFree()"
                [premium]="getTotalprem()"
              
                (filterRadioButtonSelectionChange)=" onFilterRadioButtonChange($event)"
    >

    </app-filter>
</div>

<ng-container *ngFor="let course of courses">
    <!-- "courseCountRadioButton ==='all' || courseCountRadioButton === course.type -->
<div class="course-container"  *ngIf="searchText === '' || course.name.toLowerCase().includes(searchText)" >
    <div class="course-card">
        <div>
            <img [src]="course.image" alt="" style="width: 220px; height: 140px;;">
        </div>
        <div class="course-name">{{course.name}}</div>
        <div class="course-description"><p>{{course.description.slice(0,80)}}</p></div>
        <div class="details">
            <div class="course-type" [ngStyle]="{color: course.type === 'free'? 'green':'red'}">{{course.type}}</div>
            <div class="course-price"><b>Price:</b>{{course.price}}</div>
        </div>
        <div class="course-buttons">
            <button class="btn btn-buy">Buy now</button>
            <button class="btn btn-show">Show details</button>
        </div>
    </div>
</div>

</ng-container>
