<div class="container">
  <h2>New in smart phones</h2>
  <div class="more-products">
     <app-product>
      <h4 class="title">New in iphone</h4>
      <button class="btn btn-more">Show more in iphone</button>
     </app-product>
     <app-product>
      <h4 class="title">New in samsung</h4>
      <button class="btn btn-more">Show more in samsung</button>
     </app-product>
     <app-product>
      <h4 class="title">New in oneplus</h4>
      <button class="btn btn-more">Show more in oneplus</button>
     </app-product>
     <app-product>
      <h4 class="title">New in mi</h4>
      <button class="btn btn-more">Show more in mi</button>
     </app-product>
    
  </div>
</div>