
    <!-- Header -->
    <div class="container">
        <!-- Main Content -->
        <main>
          <h1>Welcome to Our Home Page</h1>
          <p>We're a company dedicated to providing quality education and training in a variety of fields. Our goal is to help people achieve their career and personal development goals through our comprehensive courses and programs.</p>
    
          <h2>Featured Courses</h2>
          <ul class="featured-courses">
            <li>
              <h3>Web Development</h3>
              <p>Learn how to build and design dynamic, interactive websites and web applications using HTML, CSS, JavaScript, and more.</p>
            </li>
            <li>
              <h3>Data Science</h3>
              <p>Gain the skills and knowledge you need to analyze and interpret data, build predictive models, and make data-driven decisions.</p>
            </li>
            <li>
              <h3>Project Management</h3>
              <p>Master the tools and techniques you need to effectively plan, organize, and manage complex projects, and achieve success.</p>
            </li>
          </ul>
        </main>
    
  
        <footer>
          <p>Copyright &copy; NEML 2023</p>
        </footer>
    
      </div>